<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/CSS/layout.css" rel="stylesheet" />
    <link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
    <style rel="stylesheet">
        body {
            margin: 0;
            padding: 0;
            border: 0;
            font-size: 12px;
            background-color: #f5f5f5;
        }
    </style>
</head>
<body>
    @*顶部信息*@
    <div id="site-nav-bg">
    </div>
    @*顶部Logo*@
    <div id="panel">

        <div id="header">
            <div id="site-nav">
                <ul class="top-dengru">
                    <li class="loginInfo" style="display: none">您好！<span class="userName" style="color:#e95809"></span></li>
                    <li class="loginInfo" style="display: none">
                        <a class="f-bold f-hei" href="/User/quit">
                            退出
                        </a>
                    </li>
                    <li class="welcome">您好,欢迎光临喵喵购书网</li>
                    <li class="welcome">
                        @*<a id="loginLink" class="f-bold f-cheng" href="/User/Login">
                            登录
                        </a>*@
                        <a id="index" class="f-bold f-cheng" href="/Home/Index">首页</a>
                        @*<span class="f-hui-line">| </span>&nbsp;<a id="regLink" class="f-cheng f-bold" href="/User/Regist">注册</a>*@
                    </li>
                </ul>
                <div class="quick-link-box" style="position: relative">
                    <ul class="quick-link">
                        <li>
                            <a target="_blank" class="f-green" href="">
                                帮助中心
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="f-cheng-A" href="javascript:;" onclick="myMiaoMiao()">
                                我的喵喵
                            </a>
                        </li>
                        <li>
                            <a target="_blank" class="f-cheng-A" href="javascript:;" onclick="myOrderCenter()">
                                我的订单
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bg-wrapper">

                <div class="bannerA-768">
                </div>
                <div class="loge">
                    <a href="/Home/Index">
                        <img src="~/Content/images/logo.png" alt="喵喵购书网" style="width:120px;height:75px;">
                    </a>
                </div>
            </div>

        </div>

        @RenderBody()
        <div id="footer" class="w980">
            <div class="serve-box2">
                <ul class="add">
                    <ul>
                        <li>
                            <a href="" target="_blank">关于喵喵读书人</a>
                            | <a href="" target="_blank">合作伙伴</a>
                            | <a href="" target="_blank">友情链接</a> |<a href="javascript:myCart();" target="_blank">购物车</a> |
                            <a href="javascript:myMiaoMiao();" target="_blank">我的帐户</a> | <a href="" target="_blank">帮助中心</a> | <a href="" target="_blank">
                                订单查询
                            </a> | <a href="" target="_blank">交易条款</a>
                        </li>
                    </ul>
                    <li>服务E-mail:service@mmread.com | 订购E-mail:order@mmread.com</li>
                    <li>Copyright@2018 喵喵购书网, All Rights Reserved</li>
                </ul>

            </div>
        </div>
    </div>
    <script src="~/Scripts/jquery-1.8.2.js"></script>
    <script src="~/Scripts/layui/layui.js"></script>
    <script src="~/Scripts/layout.js" type="text/javascript"></script>
    <script>
        $(function () {
            $.ajax({
                url: '/User/islogin',
                type: 'POST',
                async: false,
                success: function (res) {
                    //console.log(res);
                    if (res.code == '200') {
                        //console.log(res.loginname);
                        $(".welcome").hide();
                        $(".userName").text(res.loginname);
                        $(".loginInfo").show();
                    } else if (res.code == '100') {
                        $(".loginInfo").hide();
                        $(".welcome").show();
                    }
                }
            });
        })
        function myMiaoMiao() {
            var myaccount = $(".userName").text();
            if (myaccount == '') {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.msg('请先登录，再操作', { icon: 5, time: 3000 }, function () {
                        location.href = '/User/Login';
                    });
                })
            } else {
                location.href = '/User/userAccount';
            }
        }
        function myOrderCenter() {
            var myaccount = $(".userName").text();
            if (myaccount == '') {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.msg('请先登录，再操作', { icon: 5, time: 3000 }, function () {
                        location.href = '/User/Login';
                    });
                })
            } else {
                location.href = '/Order/myOrder';
            }
        }
        function myCart() {
            var myaccount = $(".userName").text();
            if (myaccount == '') {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.msg('请先登录，再操作', { icon: 5, time: 3000 }, function () {
                        location.href = '/User/Login';
                    });
                })
            } else {
                location.href = '/Cart/Cart';
            }
        }
    </script>
</body>
</html>
