body {
	font-size: 10pt;
	color: #404040;
	font-family: Arial;
}
#divTitle {
    line-height: 30px;
    width: 700px;
    margin: 0 auto;
    height: 30px;
    border: 1px solid #d0d0d0;
    background: url(/Content/images/bg_btns.png) repeat-x 0px -132px;
}

#spanTitle {
    margin-left: 18px;
    font-weight: 900;
}

#divBody {
    width: 700px;
    margin: 0 auto;
    height: 500px;
    border-left: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
    border-right: 1px solid #d0d0d0;
}


.div0 {
	margin: 20px 80px;
	font-size: 15px;
}

.div1 {
	width: 820px;
	margin-left: 80px;
	margin-top: 20px;
	margin-bottom: 0px;
    padding-bottom:20px;
	font-size: 12px;
	border: 1px solid #D2D3D5;
	background-color: #F4FEFF;
}

table {
	font-size: 10pt;
	color: #404040;
	font-family: Arial;
	margin-left: 20px;
	margin-top: 20px;
}
tr {
    line-height:30px;
}

.input {
	border: 1px solid #DADADA;
	height: 20px;
	margin-left: 15px;
}

.bc {
	width: 80px;
	height: 20px;
	margin-left: 15px;
}

#vCode {
	margin-left: 15px;
}

#verifyCode {
	width: 85px;
}

label.error {
    color: #cc3300;
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}
#submitBtn {
    margin-left: 15px;
}