
@{
    ViewBag.Title = "信息板";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<html>
<head>
    <style type="text/css">
        body {
            font-size: 10pt;
            color: #404040;
            font-family: SimSun;
        }

        .divBody {
            margin-left: 15%;
        }

        .divTitle {
            text-align: left;
            width: 700px;
            height: 25px;
            line-height: 25px;
            background-color: #efeae5;
            border: 5px solid #efeae5;
        }

        .divContent {
            width: 700px;
            height: 230px;
            border: 5px solid #efeae5;
            margin-right: 20px;
            margin-bottom: 20px;
        }

        .spanTitle {
            margin-top: 10px;
            margin-left: 10px;
            height: 25px;
            font-weight: 900;
        }

        a {
            text-decoration: none;
        }

            a:visited {
                color: #018BD3;
            }

            a:hover {
                color: #FF6600;
                text-decoration: underline;
            }
    </style>
</head>
<body>
    <div class="divBody">
        <div class="divTitle">
            <span class="spanTitle"></span>
        </div>
        <div class="divContent" style="background: #fff;">
            <div style="margin: 20px;">
                <img style="float: left; margin-right: 30px;" src="~/Content/images/duihao.jpg" width="150" />
                <span style="font-size: 30px; color: #c30; font-weight: 900;">@ViewBag.Msg</span>
                <br />
                <br />
                <br />
                <br />
                <span style="margin-left: 50px;"><a target="_top" href="/User/Login" style="font-size:20px">登录</a></span>
                <span style="margin-left: 50px;"><a target="_top" href="/Home/Index" style="font-size:20px">主页</a></span>
            </div>
        </div>
    </div>


</body>
</html>