
@{
    ViewBag.Title = "gjSearch";
    Layout = "~/Views/Shared/_LayoutManager.cshtml";
}

<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<h2 style="width:500px;margin:0 auto;display:block;">
    高级搜索结果如下：
</h2>
<div id="userList" class="layui-box">
    <table id="mytable"  lay-filter="tableDel">
        <script type="text/html" id="bar">
            @*<a class="layui-btn layui-btn-primary layui-btn-xs " lay-event="add">添加</a>*@
            @*<a class="layui-btn layui-btn-xs" lay-event="edit">修改</a>*@
            <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
        </script>
        @*第一列序号*@
        <script type="text/html" id="indexTpl">
            {{d.LAY_TABLE_INDEX+1}}
        </script>
    </table>
</div>
<div id="page" style="margin: 0 auto;width: 80%;"></div>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/layui/layui.js"></script>
<script>
    $(function () {
        $("#BookManage").addClass('layui-nav-itemed');
        $("#BookInfoManage").addClass('layui-this');
        var bname = getUrlPara("bname");
        var author = getUrlPara("author");
        var press = getUrlPara("press");
        var url = '/Book/getBookList';
        //var data = '{"cid":"' + d + '","pageItem":1,"limit":6}';//"'cid':'" + d + "', 'pageItem': '1', 'limit': '5' ";//'{name:"jack"}';
        //var json = JSON.parse(data)
        //alert(bname)
        //alert(author)
        if (bname != '' || author != '' || press != '') {
            $("#Searchform").hide();
            $("#bookList").show();
            $("#page").show();
            var count = 0;
            var type = '';
            if (bname != '' && author == '' && press == '') { count = ajaxGetBookList(url, 'bname', bname, 1, 10); type = 'bname'; }//count = ajaxGetBookList(url,'bname', bname, 1, 6);
            if (author != '' && bname == '' && press == '') { count = ajaxGetBookList(url, 'author', author, 1, 10); type = 'author'; }
            if (press != '' && author == '' && bname == '') { count = ajaxGetBookList(url, 'press', press, 1, 10); type = 'press'; }
            if (press != '' && author != '' && bname != '') { count = ajaxGetBookLists(url, 'combination', bname, author, press, 1, 10); type = 'combination'; }
            layui.use('laypage', function () {
                var laypage = layui.laypage;
                //执行一个laypage实例
                laypage.render({
                    elem: 'page' //注意，这里是 ID，不用加 # 号
                    , theme: '#FF5722'
                    , limit: 10
                    , limits: [10, 30, 60]
                    , groups: 3
                    , layout: ['count', 'prev', 'page', 'next', 'limit', 'refresh', 'skip']
                    , jump: function (obj, first) {
                        if (!first) {//首次不执行
                            switch (type) {
                                case 'bname': count = ajaxGetBookList(url, 'bname', bname, obj.curr, obj.limit); break;
                                case 'author': ajaxGetBookList(url, 'author', author, obj.curr, obj.limit); break;
                                case 'press': ajaxGetBookList(url, 'press', press, obj.curr, obj.limit); break;
                                case 'combination': ajaxGetBookLists(url, 'combination', bname, author, press, obj.curr, obj.limit); break;
                            }
                        }
                        //console.log(obj)
                        //ajaxGetBookList(url, cid, obj.curr, obj.limit);
                    }
                    , count: count //数据总数，从服务端得到
                });
            });

        }



    });

    function getUrlPara(paraName) {
        var sUrl = location.href;
        var sReg = "(?:\\?|&){1}" + paraName + "=([^&]*)"
        var re = new RegExp(sReg, "gi");
        re.exec(sUrl);
        return RegExp.$1;
    }

    function ajaxGetBookList(url, type, data, pageItem, limit) {
        var datas = '{"' + type + '":"' + data + '","pageItem":' + pageItem + ',"limit":' + limit + '}';//"'cid':'" + d + "', 'pageItem': '1', 'limit': '5' ";//'{name:"jack"}';
        var json = JSON.parse(datas);
        var count = 0;
        $.ajax({
            url: url,
            data: json,
            async: false,
            type: 'POST',
            success: function (res) {
                //console.log(res.data);
                if (res.code == '200') {
                    var data = res.data;
                    count = data.TotalItems;
                    if (data.Items.length > 0) {
                        layui.use('table', function () {
                            var table = layui.table;
                            //第一个实例
                            table.render({
                                elem: '#mytable'
                                , page: false //开启分页
                                , data: data.Items
                                , minWidth: 100
                                , cols: [[ //表头
                                    { title: '序号', templet: '#indexTpl' }
                                    //{ field: 'bid', title: '图书ID',sort: true,width:200, fixed: 'left', align: 'center' }
                                    , { field: 'bname', title: '图书名称', width: 200 }
                                    , { field: 'author', title: '作者', width: 150, align: 'center', sort: true }
                                    , { field: 'price', title: '原价', width: 70, align: 'center', sort: true }
                                    , { field: 'currPrice', title: '售价', width: 70, align: 'center', sort: true }
                                    , { field: 'discount', title: '折扣', width: 70, align: 'center', sort: true }
                                    , { field: 'press', title: '出版社', width: 130, align: 'center', sort: true }
                                    , { field: 'publishtime', title: '出版时间', width: 100, align: 'center', sort: true }
                                    , { field: 'edition', title: '版次', width: 60, align: 'center' }
                                    , { field: 'pageNum', title: '页数', width: 70, align: 'center' }
                                    , { field: 'wordNum', title: '字数', width: 100, align: 'center' }
                                    , { field: 'printtime', title: '打印时间', width: 100, align: 'center', sort: true }
                                    , { field: 'booksize', title: '规格', width: 60, align: 'center' }
                                    , { field: 'paper', title: '纸质', width: 80, align: 'center' }
                                    //, { field: 'cid', title: '分类ID', width: 100, align: 'center' }
                                    , { field: 'image_w', title: '小图片', width: 100, align: 'center' }
                                    , { field: 'image_b', title: '大图片', width: 100, align: 'center' }
                                    , { field: 'orderBy', title: '排序字段', width: 100, align: 'center', sort: true }
                                    , { fixed: 'right', title: '操作', width: 160, align: 'center', toolbar: '#bar' }
                                ]]
                            });
                            //监听工具条
                            table.on('tool(tableDel)', function (obj) {
                                var data = obj.data;
                                if (obj.event === 'del') {
                                    layer.confirm('确定要删除么？', function (index) {
                                        obj.del();
                                        layer.close(index);
                                    });
                                }
                            })
                        })
                    }
                }
            }
        })
        return count;
    }

    function ajaxGetBookLists(url, type, bname, author, press, pageItem, limit) {
        var datas = '{"bname":"' + bname + '","author":"' + author + '","press":"' + press + '","pageItem":' + pageItem + ',"limit":' + limit + '}';//"'cid':'" + d + "', 'pageItem': '1', 'limit': '5' ";//'{name:"jack"}';
        var json = JSON.parse(datas);
        var count = 0;
        $.ajax({
            url: url,
            data: json,
            async: false,
            type: 'POST',
            success: function (res) {
                //console.log(res.data);
                if (res.code == '200') {
                    var data = res.data;
                    count = data.TotalItems;
                    if (data.Items.length > 0) {
                        layui.use('table', function () {
                            var table = layui.table;
                            //第一个实例
                            table.render({
                                elem: '#mytable'
                                , page: false //开启分页
                                , data: data.Items
                                , minWidth: 100
                                , cols: [[ //表头
                                    { title: '序号', templet: '#indexTpl' }
                                    //{ field: 'bid', title: '图书ID',sort: true,width:200, fixed: 'left', align: 'center' }
                                    , { field: 'bname', title: '图书名称', width: 200 }
                                    , { field: 'author', title: '作者', width: 150, align: 'center', sort: true }
                                    , { field: 'price', title: '原价', width: 70, align: 'center', sort: true }
                                    , { field: 'currPrice', title: '售价', width: 70, align: 'center', sort: true }
                                    , { field: 'discount', title: '折扣', width: 70, align: 'center', sort: true }
                                    , { field: 'press', title: '出版社', width: 130, align: 'center', sort: true }
                                    , { field: 'publishtime', title: '出版时间', width: 100, align: 'center', sort: true }
                                    , { field: 'edition', title: '版次', width: 60, align: 'center' }
                                    , { field: 'pageNum', title: '页数', width: 70, align: 'center' }
                                    , { field: 'wordNum', title: '字数', width: 100, align: 'center' }
                                    , { field: 'printtime', title: '打印时间', width: 100, align: 'center', sort: true }
                                    , { field: 'booksize', title: '规格', width: 60, align: 'center' }
                                    , { field: 'paper', title: '纸质', width: 80, align: 'center' }
                                    //, { field: 'cid', title: '分类ID', width: 100, align: 'center' }
                                    , { field: 'image_w', title: '小图片', width: 100, align: 'center' }
                                    , { field: 'image_b', title: '大图片', width: 100, align: 'center' }
                                    , { field: 'orderBy', title: '排序字段', width: 100, align: 'center', sort: true }
                                    , { fixed: 'right', title: '操作', width: 160, align: 'center', toolbar: '#bar' }
                                ]]
                            });
                            //监听工具条
                            table.on('tool(tableDel)', function (obj) {
                                var data = obj.data;
                                if (obj.event === 'del') {
                                    layer.confirm('确定要删除么？', function (index) {
                                        obj.del();
                                        layer.close(index);
                                    });
                                }
                            })
                        })
                    }
                }
            }
            })
        return count;
    }

</script>
