@*@model IEnumerable<MMBookStore.Models.Entity.Book>*@
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
}
<link href="~/Scripts/layui/css/layui.css" rel="stylesheet" />
<link href="~/Content/CSS/Cart/list.css" rel="stylesheet" />
<div>
    <table width="95%" align="center" cellpadding="0" cellspacing="0" hidden id="noCartItem" style="background: #fff;">
        <tr>
            <td align="right">
                <img align="top" src="/Content/images/icon_empty.png" />
            </td>
            <td>
                <span class="spanEmpty">您的购物车中暂时没有商品</span>
            </td>
        </tr>
    </table>
    <br />
    <br />
    <table width="95%" align="center" cellpadding="0" cellspacing="0" id="cartItemTable">
        <tr align="center" bgcolor="#efeae5">
            <td align="left" width="50px">
                <input type="checkbox" id="selectAll" checked="checked" /><label for="selectAll">全选</label>
            </td>
            <td colspan="2">商品名称</td>
            <td>单价</td>
            <td>数量</td>
            <td>小计</td>
            <td>操作</td>
        </tr>
        @*<tr align="center">
                <td align="left">
                    <input value="12345" type="checkbox" name="checkboxBtn" checked="checked" />
                </td>
                <td align="left" width="70px">
                    <a class="linkImage" href=""><img border="0" width="54" align="top" src="/Content/book_img/23254532-1_b.jpg" /></a>
                </td>
                <td align="left" width="400px">
                    <a href=""><span>Spring实战(第3版)（In Action系列中最畅销的Spring图书，近十万读者学习Spring的共同选择）</span></a>
                </td>
                <td><span>&yen;<span class="currPrice 12345CurrPrice">40.7</span></span></td>
                <td>
                    <a class="jian 12345Jian" ></a><input class="quantity 12345Quantity" readonly="readonly" type="text" value="1" /><a class="jia 12345Jia"></a>
                </td>
                <td width="100px">
                    <span class="price_n">&yen;<span class="subTotal 12345Subtotal">40.7</span></span>
                </td>
                <td>
                    <a href="">删除</a>
                </td>
            </tr>*@
    </table>
    <table width="95%" align="center" cellpadding="0" cellspacing="0" id="toBuy">
        <tr>
            <td colspan="4" class="tdBatchDelete">
                <a href="javascript:batchDelete();">批量删除</a>
            </td>
            <td colspan="3" align="right" class="tdTotal">
                <span>总计：</span><span class="price_t">&yen;<span class="total"></span></span>
            </td>
        </tr>
        <tr>
            <td colspan="7" align="right">
                <a href="javascript:jiesuan()" id="jiesuan" class="jiesuan"></a>
            </td>
        </tr>
    </table>
</div>
<form id="jieSuanForm" action="/Cart/loadCartItems" method="post" hidden>
    <input type="hidden" name="cartItemIds" id="cartItemIds" />
    <input type="hidden" name="total" id="hiddenTotal" />
</form>
<script src="~/Scripts/jquery-1.8.2.js"></script>
<script src="~/Scripts/layui/layui.js"></script>
<script src="~/Scripts/Cart/round.js"></script>
<script>
    $(function () {
        $.ajax({
            url: '/User/islogin',
            type: 'POST',
            async: false,
            dataType: "json",
            success: function (res) {
                //console.log(res);
                if (res.code == '200') {
                    $(".welcome").hide();
                    $(".userName").text(res.loginname);
                    $(".loginInfo").show();
                } else if (res.code == '100') {
                    $(".loginInfo").hide();
                    $(".welcome").show();
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg(res.msg, { icon: 5, time: 3000 }, function () {
                            location.href = '/User/Login';
                        });
                    })
                }
            }
        });
        var loginname = $(".userName").text();

        $.ajax({
            url: '/Cart/queryCartItem',
            data: { loginname: loginname },
            async: false,
            type: 'POST',
            success: function (res) {
                //console.log(res);
                var html = "";
                if (res.code == '200') {
                    //显示当前用户已存在的购物车条目
                    var datas = res.data;
                    if (datas.length == 0) {
                        $("#noCartItem").show();
                        $("#cartItemTable").hide();
                        $("#toBuy").hide();
                    } else {
                        for (var i = 0; i < datas.length; i++) {
                            $.ajax({
                                url: '/Book/getBookDetail',
                                data: { bid: datas[i].bid },
                                async: false,
                                type: 'POST',
                                dataType: 'JSON',
                                success: function (result) {
                                    if (result.code == '200') {
                                        if (result.data != null) {
                                            var data = result.data;
                                            html += "<tr align='center'><td align='left'><input value='" + datas[i].cartItemId + "' type='checkbox' name='checkboxBtn' checked='checked' /></td>" +
                                                "<td align='left' width='70px'><a class='linkImage' href='/Book/BookDetail?bid=" + data.bid + "'><img border='0' width='54' align='top' src='/Content/" + data.image_b + "' /></a></td>" +
                                                "<td align='left' width='400px'><a href='/Book/BookDetail?bid=" + data.bid + "'><span>" + data.bname + "</span></a></td>" +
                                                "<td><span>&yen;<span class='currPrice " + datas[i].cartItemId + "CurrPrice'>" + data.currPrice + "</span></span></td>" +
                                                "<td><a class='jian " + datas[i].cartItemId + "Jian'></a><input class='quantity " + datas[i].cartItemId + "Quantity' readonly='readonly' type='text' value='" + datas[i].quantity + "' /><a class='jia " + datas[i].cartItemId + "Jia'></a></td>" +
                                                "<td width='100px'><span class='price_n'>&yen;<span class='subTotal " + datas[i].cartItemId + "Subtotal'>" + round(data.currPrice * datas[i].quantity, 2) + "</span></span></td>" +
                                                "<td><a href='/Cart/deleteCartItem?cartItemIds=" + datas[i].cartItemId + "'>删除</a></td></tr>";
                                        }
                                    }
                                }
                            })
                        }
                        //console.log(html);
                        $("#cartItemTable").append(html);
                    }

                } else {
                    layui.use('layer', function () {
                        var layer = layui.layer;
                        layer.msg(res.msg, { time: 2000 });
                    })
                }
            }
        });

        showTotal();//显示合计
        // 给全选按钮添加点击事件
        $("#selectAll").click(function () {
            var f = $(this).attr("checked");//获取全选的状态
            var flag = false;
            if (f == "checked") { flag = true }
            //alert(flag);
            setAll(flag);//让所有条目复选框与全选同步
            setJieSuanStyle(flag);//让结算按钮与全选同步
        });

        // 给条目复选框添加事件
        $(":checkbox[name=checkboxBtn]").click(function () {
            var selectedCount = $(":checkbox[name=checkboxBtn][checked=checked]").length;//被勾选复选框个数
            var allCount = $(":checkbox[name=checkboxBtn]").length;//所有条目复选框个数
            if (selectedCount == allCount) {//全选了
                $("#selectAll").attr("checked", "checked");//勾选全选复选框
                setJieSuanStyle(true);//使结算按钮可用
            } else if (selectedCount == 0) {//全撤消了
                $("#selectAll").attr("checked", false);//撤消全选复选框
                setJieSuanStyle(false);//使结算按钮不可用
            } else {//未全选
                $("#selectAll").attr("checked", false);//撤消全选复选框
                setJieSuanStyle(true);//使结算按钮可用
            }
            showTotal();//重新计算合计
        });

        // 给jia、jian添加事件
        $(".jian").click(function () {
            var cartItemId = $(this).attr("class").substr(5, 6);
            var quantity = Number($("." + cartItemId + "Quantity").val());
            if (quantity == 1) {
                layui.use('layer', function () {
                    var layer = layui.layer;
                    layer.confirm("您是否真要删除该条目？", function () {
                        deleteCartItem(cartItemId);
                    })
                })
            } else {
                sendUpdate(cartItemId, quantity - 1);
            }
        });
        $(".jia").click(function () {
            var cartItemId = $(this).attr("class").substr(4, 6);
            //alert(cartItemId);
            var quantity = Number($("." + cartItemId + "Quantity").val());
            sendUpdate(cartItemId, quantity + 1);
        });


    });

    // 异步请求，修改数量
    function sendUpdate(cartItemId, quantity) {
        $.ajax({
            url: '/Cart/updateQuantity',
            type: 'POST',
            async: false,
            cache: false,
            data: { cartItemId: cartItemId, quantity: quantity},
            success: function (res) {
                //console.log(res);
                if (res.code == '200') {
                    //修改成功
                }
            }
        })
        /*
         1. 通过cartItemId找到输入框元素
         2. 通过cartItemId找到小计元素
        */
        var input = $("." + cartItemId + "Quantity");
        var subtotal = $("." + cartItemId + "Subtotal");
        var currPrice = $("." + cartItemId + "CurrPrice");

        input.val(quantity);
        subtotal.text(round(currPrice.text() * quantity, 2));
        showTotal();
    }

    // 设置所有条目复选框
    function setAll(flag) {
        $(":checkbox[name=checkboxBtn]").attr("checked", flag);//让所有条目的复选框与参数flag同步
        showTotal();//重新设置合计
    }

    // 设置结算按钮的样式
    function setJieSuanStyle(flag) {
        if (flag) {// 有效状态
            $("#jiesuan").removeClass("kill").addClass("jiesuan");//切换样式
            $("#jiesuan").unbind("click");//撤消“点击无效”
        } else {// 无效状态
            $("#jiesuan").removeClass("jiesuan").addClass("kill");//切换样式
            $("#jiesuan").click(function () {//使其“点击无效”
                return false;
            });
        }
    }

    // 显示合计
    function showTotal() {
        var total = 0;//创建total，准备累加
        /*
        1. 获取所有被勾选的复选框，遍历之
        */
        $(":checkbox[name=checkboxBtn][checked=checked]").each(function () {
            /*
            2. 通过复选框找到小计
            */
            var subtotal = Number($("." + $(this).val() + "Subtotal").text());
            total += subtotal;
        });
        /*
        3. 设置合计
        */
        $(".total").text(round(total, 2));
    }
    //请求删除接口
    function deleteCartItem(cartItemId) {
        $.ajax({
            url: '/Cart/deleteCartItems',
            type: 'POST',
            data: { cartItemId: cartItemId },
            async: false,
            success: function (res) {
                //console.log(res);
                if (res.code == "200") {
                    layer.msg("删除成功！");
                    location.reload();
                } else {
                    layer.msg(result.msg);
                }
            }
        })
    }
    //批量删除
    function batchDelete() {
        var cartItemArray = new Array();
        $(":checkbox[name=checkboxBtn][checked=checked]").each(function () {
            cartItemArray.push($(this).val())//把复选框的值添加到数组中
        })
        location.href = '/Cart/deleteCartItem?cartItemIds=' + cartItemArray.toString();
    }
     //结算
    function jiesuan() {
        $.ajax({
            url: '/User/islogin',
            type: 'POST',
            async: false,
            success: function (res) {
                //console.log(res);
                if (res.code == '200') {
                    //console.log(res.loginname);
                    $(".welcome").hide();
                    $(".userName").text(res.loginname);
                    $(".loginInfo").show();
                    // 1. 获取所有被选择的条目的id，放到数组中
                    var cartItemIdArray = new Array();
                    $(":checkbox[name=checkboxBtn][checked=checked]").each(function () {
                        cartItemIdArray.push($(this).val());//把复选框的值添加到数组中
                    });
                    // 2. 把数组的值toString()，然后赋给表单的cartItemIds这个hidden
                    $("#cartItemIds").val(cartItemIdArray.toString());
                    // 把总计的值，也保存到表单中
                    $("#hiddenTotal").val($(".total").text());
                    // 3. 提交这个表单
                    $("#jieSuanForm").submit();
                } else if (res.code == '100') {
                    $(".loginInfo").hide();
                    $(".welcome").show();
                }
            }
        });
        
    }
</script>

